:root{
--azul:#f3f2f7;
--preto:#000000;

}
body{
background-color:var(--azul);
color: var(var(--preto));
}

img{
    width:40%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-de-introdução{
    width: 45%;
}

.intro{
 display: flex;
}